<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/task-manager" class="d-inline-flex link-body-emphasis text-decoration-none">
                <h1>Task</h1>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <label>Refresh:</label>
                <select id="refreshSelect" onchange="autoRefresh(this.value)">
                    <option value="" selected>Selecione...</option>
                    <option th:each="it : ${refreshList}" th:value="${it.getValue()}" th:text="${it.name}" th:selected="${it == refresh}"></option>
                </select>
            </li>
        </ul>
    </header>
</div>